%h1 Posts

%table.table
  %tr
    %th Date
    %th Title
    %th.numeric-column Visits
    %th.numeric-column Published
  - @posts.each do |post|
    %tr
      %td= post.created_at
      %td= "<a href=\"/posts/#{post.permalink}\">#{post.title}</a>"
      %td.numeric-column= post.visits.count
      %td.numeric-column= post.published ? "&2713;" : "✓"

%a(href="/posts/new") New Post
