!!! 5
%html
  %head
    - if is_blog_article?
      %title= current_article.title + ' - The Philosopher Developer'
    - else
      %title The Philosopher Developer
    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no")
    = favicon_tag("favicon.ico")
    = stylesheet_link_tag("application")
    = javascript_include_tag("application")

    = yield_content(:extra_javascript)

  %body
    %header
      - if is_blog_article?
        %h1= link_to(current_article.title, current_article.url)
        %h2= link_to('The Philosopher Developer', '/')

      - else
        %h1= link_to(current_page.data['title'] || 'The Philosopher Developer', '/')
        %h2= link_to(current_page.data['subtitle'] || 'half-sound logic, half-decent code', '/')

    %main
      = yield
