- wrap_layout :layout do
  - if current_page.data['javascript']
    - content_for(:extra_javascript) do
      - current_page.data['javascript'].each do |script|
        = javascript_include_tag(script)

  %article(id="#{File.basename(current_page.path, '.html')}")
    - if is_blog_article?
      %header
        %h1
          = current_article.friendly_date
          %span.comments= link_to("", "#{current_article.url}#disqus_thread")

    = partial("sharing") unless development?

    = find_and_preserve do
      = yield

    #disqus_thread

- if is_blog_article?
  / ShareThis stuff
  = javascript_include_tag("//w.sharethis.com/button/buttons.js")

  :javascript
    stLight.options({publisher: "7abd834e-cceb-4612-8fa6-268c0815d106", doNotHash: false, doNotCopy: false, hashAddressBar: false});

- # Don't load Disqus stuff in dev, or else it'll create a bunch of discussions
- # w/ http://localhost* URLs

- if is_blog_article? && !development?
  / Disqus stuff
  :javascript
    window.disqus_shortname = "philosopherdeveloper";
    window.disqus_title = "#{current_article.title.gsub('"', '\"')}";
    window.disqus_identifier = "#{current_article.slug}";

  = javascript_include_tag("disqus")
  = javascript_include_tag("disqusCount")
