---
pageable: true
per_page: 10
---

%nav
  %ul
    %li= link_to('About', '/about.html')
    %li
      = link_to('https://github.com/dtao') do
        = image_tag('icons/github-small.png')
      = link_to('http://stackoverflow.com/users/105570/dan-tao') do
        = image_tag('icons/stackoverflow-small.png')
      = link_to('https://twitter.com/dan_tao') do
        = image_tag('icons/twitter-small.png')
      = link_to('https://soundcloud.com/dantao') do
        = image_tag('icons/soundcloud-small.png')
      = link_to('http://feeds.feedburner.com/philosopherdeveloper') do
        = image_tag('icons/rss-small.png')

  %ul
    - blog.articles[0...10].each do |article|
      %li= link_to(article.title, article.url)

  %ul
    %li= link_to('All Posts', '/posts.html')

#content
  - page_articles.each do |article|
    %article
      %header
        %h1
          = link_to(article.title, article.path)
          .date= article.friendly_date

      = preserve(article.summary(1000, '...'))

      %p= link_to('Read more', article.url)

  %p
    = link_to('Previous', prev_page.url) if prev_page
    = link_to('Next', next_page.url) if next_page
