%article
  %header
    - if post.include_date
      %h1
        = post.friendly_date

      - if post.allow_comments
        %span.comments <a href='#disqus_thread'></a>
        %script(type="text/javascript" src="#{SITE_ROOT}/javascripts/disqusCount.js")

    - if post.include_social_links
      .social
        %span.st_facebook_hcount(displayText='Facebook')
        %span.st_googleplus_hcount(displayText='Google+')
        %span.st_twitter_hcount(displayText='Tweet')
        %span.st_linkedin_hcount(displayText='LinkedIn')

  %section.content
    = post.to_html

    .navigation
      - if post.previous
        %a.previous(href="#{post.previous.link}")= post.previous.title
      - if post.next
        %a.next(href="#{post.next.link}")= post.next.title

  - if post.allow_comments
    %section.comments
      #disqus_thread
      %script(type="text/javascript" src="#{SITE_ROOT}/javascripts/disqus.js")

      %noscript
        Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

      %a.dsq-brlink(href="http://disqus.com")
        comments powered by
        %span.logo-disqus Disqus
