%article
  %header
    %h1
      %span.title
        %a(href="#{post.link}")= post.title
      %span.date= post.friendly_date

    .social
      .fb-like(data-href="http://philosopherdeveloper.com#{post.link}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false")

      %a.twitter-share-button(href="https://twitter.com/share" data-via="twitterapi" data-lang="en")

      .g-plusone(data-size="medium")
      
      %script(type="IN/Share" data-url="http://philosopherdeveloper.com#{post.link}" data-counter="right")

  %section.content
    = post.to_html

  - if post.allow_comments
    %section.comments
      #disqus_thread

      %script(type="text/javascript" src="/javascripts/disqus.js")

      %noscript
        Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

      %a.dsq-brlink(href="http://disqus.com")
        comments powered by
        %span.logo-disqus Disqus
