%h1
  = @post.title
  %span.date-and-comments
    = @post.date.strftime("%B %d, %Y")
    |
    %a(href="#comments")= noun("Comment", @post.comments.count)

= markdown(:"posts/#{@post.identifier}").gsub("--", "&mdash;")

%hr

#comments
  - @post.comments.each do |comment|
    = render(:comment, :locals => { :comment => comment }, :layout => false)

  %form(action="/comments/#{@post.identifier}" method="POST")
    %p Leave a comment
    .field
      %label(for="name") Name
      %input(type="text" name="name")
    .field
      %label(for="email") E-mail (optional)
      %input(type="text" name="email")
    .field
      %label Comment
      %textarea(name="text")
    .field
      %label
      %input(type="submit")
