%article.post
  %section.heading
    = partial(:heading, :locals => { :post => @post })

  %section.content
    = markdown(:"posts/#{@post.identifier}").gsub("--", "&mdash;")

  %section.comments
    - @post.comments.each do |comment|
      = partial(:comment, :locals => { :comment => comment })

    = partial(:comment_form, :locals => { :post => @post })
