!!!
%head
  %title The Philosopher Developer
  = stylesheet_link_tag("application")

%body
  #menu
    %ul.posts
    - Post.each do |post|
      %li.post= "<a href=\"/#{post.identifier}\">#{post.title}</a>"

  #content
    = yield
