!!!
%head
  %title The Philosopher Developer
  = stylesheet_link_tag("application")

%body
  #menu
    - Post.each do |post|
      %p.menu-item= "<a href=\"/#{post.identifier}\">#{post.title}</a>"

  #content
    = yield
