!!! 5
%html
  %head
    %title= defined?(title) ? "#{title} - The Philosopher Developer" : "The Philosopher Developer"
    %meta(charset="utf-8")
    %meta(name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no")
    %link(rel="stylesheet" href="#{SITE_ROOT}/stylesheets/application.css")
    %link(rel="stylesheet" href="#{SITE_ROOT}/stylesheets/pygments.css")
    - if post && post.has_custom_stylesheet?
      %link(rel="stylesheet" href="#{SITE_ROOT}/stylesheets/#{post.identifier}.css")
    %script(type="text/javascript" src="http://w.sharethis.com/button/buttons.js")
    %script(type="text/javascript" src="#{SITE_ROOT}/javascripts/ga.js")
    %script(type="text/javascript" src="#{SITE_ROOT}/javascripts/shareThis.js")
    %script(type="text/javascript" src="#{SITE_ROOT}/javascripts/jquery-1.9.1.min.js")
    %script(type="text/javascript" src="#{SITE_ROOT}/javascripts/main.js")
    - if post && post.allow_comments
      :javascript
        var disqus_shortname = "philosopherdeveloper";
        var disqus_title = "#{post.title.gsub('"', '\"')}";
    = extra_javascript if defined?(extra_javascript) && !extra_javascript.empty?

  %body
    %header#header
      - if post
        %h1
          %a(href="#{post.link}")= CGI.escape_html(post.title)
        %h2 <a href="#{SITE_ROOT}/">the philosopher developer</a>
      - else
        %h1 <a href="#{SITE_ROOT}/">The Philosopher Developer</a>
        %h2 half-sound logic, half-decent code

    = yield

    %footer
      %ul.menu
        %li <a href="#{SITE_ROOT}/posts">All Posts</a>
        %li <a href="#{SITE_ROOT}/about">About</a>
        %li
          %a(href="http://stackoverflow.com/users/105570" target="_blank")
            %img(alt="StackOverflow" src="#{SITE_ROOT}/images/icons/stackoverflow-small.png")
        %li
          %a(href="https://github.com/dtao" target="_blank")
            %img(alt="GitHub" src="#{SITE_ROOT}/images/icons/github-small.png")
        %li
          %a(href="https://twitter.com/dan_tao" target="_blank")
            %img(alt="Twitter" src="#{SITE_ROOT}/images/icons/twitter-small.png")
        %li
          %a(href="http://feeds.feedburner.com/philosopherdeveloper")
            %img(alt="RSS" src="#{SITE_ROOT}/images/icons/rss-small.png")
